body {
    background-color: black;
}
#post {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 40%;
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    font-size: smaller;
}
#header {
    display: flex;
    align-items: center;
    width: 100%;
}
img {
    width: 100%;
}
#likes {
    width: 100%;
    white-space: normal;
    padding: 5px;
    clear: left;
}
#text {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}
i {
    vertical-align: middle;
}
.buttons {
    float: left;
    padding: 4px;
}
#hdr1 {
    width: 5%;
    padding-left: 10px;
    justify-content: left;
}
#hdr2 {
    width: 92.5%;
    justify-content: left;
}
#hdr3 {
    width: 2.5%;
    justify-content: right;
}
#b4 {
    float: right;
}

